@import "tailwindcss";
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-neutral: #5D5152;
    --color-warning: #D3A601;
    --color-wrong: #D84E4B;
    --color-primary: #EFE3C8;
    --color-primary-hover: #DBD0B8;
    --color-primary-focus: #FFF5D8;
    --color-accent: #FFFFFF;
    --color-light: #FFFFFF;
    --color-accent-hover: #C0C0C0;
    --color-accent-focus: #FFFFFF;
    --color-text-brown: #4A2B29;
    --color-surface-100: #E1D1E1;
    --color-surface-200: #C1B2C1;
    --color-surface-300: #A192A1;
    --color-surface-400: #807380;
    --color-surface-500: #605460;
    --color-surface-600: #403440;
    --color-surface-700: #201520;
    --color-surface-800: #191019;
    --color-surface-900: #120C12;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}